.servers {
  width: 100%;
  border: 1px solid #B7B7B7;
  border-radius: 10px;
  overflow: hidden;
}

.label {
  background-color: #F0F0F0;
  width: 100%;
  max-width: 100%;
  height: 55px;
  display: flex;
  align-items: center;
  justify-content: left;
  padding-left: 10px;
  box-sizing: border-box;
}

.label p {
  margin: 0;
  padding: 0;
  font-size: 20px;
  font-weight: bold;
}

.content {
  width: 100%;
  height: auto;
  padding: 16px;
  box-sizing: border-box;
}

.sv-table-bordered {
  width: 100%;
  border-radius: 5px;
  border: 1px solid #DDDDDD;
  border-collapse: collapse;
}

.sv-table-bordered td {
  border: 1px solid #DDDDDD;
  font-size: 14px;
  padding: 10px;
  border: 1px solid #DDDDDD;
  text-align: center;
}

.sv-table-bordered .sv-table-header {
  background-color: #F0F0F0;
  font-weight: bold;
}
    